.env
**/.env
**/*.zip
dataset/**
.cache/**
history.sqlite
.local/**
.config/**
.ipython/**
.npm/**
exemplo/teste_document-classification-project-ocr.ipynb
keras.*
.jupyter/**
nltk_data/**
**.parquet
**.pickle
**/__pycache__/**
