.env
**/.env
**/*.zip
dataset/**
.cache/**
history.sqlite
.local/**
.config/**
.ipython/**
.npm/**
exemplo/**
keras.*
.jupyter/**
nltk_data/**
**.parquet
**.pickle
**/__pycache__/**
**/docs-sm/**
**/kaggle.json
**.pkl
.ipynb_checkpoints/**
